<!DOCTYPE html>
<html>
  <style>
      #woundData table {
        width: 100%;
        border-spacing: 0px;
        border: solid thin;
        border-collapse: collapse;
      }
      #woundData th, #woundData td {
        border: solid thin;
        border-collapse: collapse;
        border-spacing: 0px;
      }
  </style>
  <body>
    <div id="emailContent2">
      <table id="woundData2" style="border: solid thin; border-collapse: collapse;">
          <tr>
            <th style="border: solid thin; border-collapse: collapse">Allergies</th>
            <th style="border: solid thin; border-collapse: collapse">Wound #</th>
            <th style="border: solid thin; border-collapse: collapse">Date First Observed</th>
            <!--<th style="border: solid thin; border-collapse: collapse">Location</th>
            <th style="border: solid thin; border-collapse: collapse">Shape</th>
            <th style="border: solid thin; border-collapse: collapse">Etiology</th>-->
            <th style="border: solid thin; border-collapse: collapse">Size</th>
            <th style="border: solid thin; border-collapse: collapse">Depth</th>
            <th style="border: solid thin; border-collapse: collapse">Edges</th>
            <th style="border: solid thin; border-collapse: collapse">Undermining</th>
            <th style="border: solid thin; border-collapse: collapse">Necrotic Tissue Amount</th>
            <th style="border: solid thin; border-collapse: collapse">Exudate Type</th>
            <th style="border: solid thin; border-collapse: collapse">Exudate Amount</th>
            <th style="border: solid thin; border-collapse: collapse">Skin Color Surrounding Wound</th>
            <th style="border: solid thin; border-collapse: collapse">Peripheral Tissue Edema</th>
            <th style="border: solid thin; border-collapse: collapse">Perihperal Tissue Induration</th>
            <th style="border: solid thin; border-collapse: collapse">Granulation Tissue</th>
            <th style="border: solid thin; border-collapse: collapse">Epithelialization</th>
          </tr>
          <tr>
            <td id="allergies" style="border: solid thin; border-collapse: collapse"></td>
            <td id="woundNumber" style="border: solid thin; border-collapse: collapse">2^10</td>
            <td id="dateFirstObserved" style="border: solid thin; border-collapse: collapse">2018-08-02 08:15:00</td>
            <!--<td id="location" style="border: solid thin; border-collapse: collapse"></td>
            <td id="shape" style="border: solid thin; border-collapse: collapse"></td>
            <td id="etiology" style="border: solid thin; border-collapse: collapse"></td>-->
            <td id="size" style="border: solid thin; border-collapse: collapse">5</td>
            <td id="depth" style="border: solid thin; border-collapse: collapse">5</td>
            <td id="edges" style="border: solid thin; border-collapse: collapse">3</td>
            <td id="undermining" style="border: solid thin; border-collapse: collapse">1</td>
            <td id="necroticTissueAmount" style="border: solid thin; border-collapse: collapse">5</td>
            <td id="exudateType" style="border: solid thin; border-collapse: collapse">5</td>
            <td id="exudateAmount" style="border: solid thin; border-collapse: collapse">4</td>
            <td id="skinColorSurroundingWound" style="border: solid thin; border-collapse: collapse">1</td>
            <td id="peripheralTissueEdema" style="border: solid thin; border-collapse: collapse">1</td>
            <td id="peripheralTissueInduration" style="border: solid thin; border-collapse: collapse">1</td>
            <td id="granulationTissue" style="border: solid thin; border-collapse: collapse">5</td>
            <td id="epithelialization" style="border: solid thin; border-collapse: collapse">5</td>
          </tr>
        </table>
      </div>
  </body>
</html>
