{% block history_sheet %}
<html>
      <head>
            <!-- Bootstrap -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
            <!-- CSS for Body Avatar -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      </head>

      <body>
            <div id="history-block">
              <br>Previously entered mrn's:
            </div>
      </body>
</html>

{% endblock history_sheet %}
