<!DOCTYPE html>
<html>
      <head>
            <!-- Bootstrap -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
            <!-- CSS for Body Avatar -->
            <link rel="stylesheet" href="{{ url_for('static', filename='css/second-sheet.css') }}">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      </head>

      <body>
            <div class="container-fluid">
                  <div class = "row justify-content-start bor">
                        <div class="col">
                              <div class="row justify-content-start sp">
                                    <div>
                                          <b>Wound Score Status Continuum: (Do not need to total or plot scores on daily or routine dressing changes)</b><br>
                                            Plot the total score on the Pressure Sore Status Continuum for wound listed above by putting an “X” on the line and the date beneath the line.<br>
                                          <b>Plot scores with their dates</b> to see-at-a glance regeneration or degeneration of the wound, on admission, weekly, change in wound status, and discharge.<
                                          change in wound status, and discharge.
                                    </div>
                              </div>

                              <div class="row justify-content-start bor">
                                    <div class="col nb" style="height: 5%;">
                                          <div class="row justify-content-start nb sp">
                                              <div class="col-2 nb">
                                                  <b>Week_</b>
                                              </div>

                                              <div class="col nb" style="height: 5%">
                                                  <b>Treatment Goal at Evaluation:</b>
                                              </div>
                                          </div>


                                          <div class="row justify-content-start nb sp" style="height: 5%;">
                                              <form class="checkboxes cb">
                                                  <label class="row borderless">
                                                      <input type="checkbox" id="sacrum">
                                                      <span>Maintain wound status while addressing primary co-morbides</span>
                                                  </label>
                                              </form>

                                              <form class="checkboxes cb">
                                                  <label class="row borderless">
                                                      <input type="checkbox" id="sacrum">
                                                      <span>Progress wound toward closure by secondary intention</span>
                                                  </label>
                                              </form>

                                              <form class="checkboxes cb">
                                                  <label class="row borderless">
                                                      <input type="checkbox" id="sacrum">
                                                      <span>Prepare wound for skin graft or flap</span>
                                                  </label>
                                              </form>

                                              <form class="checkboxes cb">
                                                  <label class="row borderless">
                                                      <input type="checkbox" id="sacrum">
                                                      <span>Other</span>
                                                  </label>
                                              </form>
                                          </div>

                                          <div class="row justify-content-start sp" style="height: 5%;">
                                                <b>Treatment Evaluation of Effectiveness (document treatments on Wound Care Treatment Record):</b>
                                                <div class="lines">
                                                    ____________________________________________________________________________________________________________________________________________________<br>
                                                    ____________________________________________________________________________________________________________________________________________________<br>
                                                    ____________________________________________________________________________________________________________________________________________________<br>
                                                    ____________________________________________________________________________________________________________________________________________________<br>
                                                </div>
                                          </div>

                                          <div class="row justify-content-start nb sp" style="height: 5%;">
                                                <div class="col-8 nb">
                                                    <b>Printed Name/Signature & Title:</b>
                                                </div>

                                                <div class="col nb" style="height:100%">
                                                    <b>Time:</b>
                                                </div>

                                                <div class="col nb" style="height:100%">
                                                    <b>Date:</b>
                                                </div>
                                          </div>
                                    </div>
                              </div>

                              <div class="row justify-content-start bor">
                                    <div class="col nb" style="height: 5%;">
                                          <div class="row justify-content-start sp">
                                              <div class="col-2 nb">
                                                  <b>Week_</b>
                                              </div>

                                              <div class="col nb">
                                                  <b>Treatment Goal at Evaluation:</b>
                                              </div>
                                          </div>


                                          <div class="row justify-content-start nb sp" style="height: 5%;">
                                              <form class="checkboxes cb">
                                                  <label class="row borderless">
                                                      <input type="checkbox" id="sacrum">
                                                      <span>Maintain wound status while addressing primary co-morbides</span>
                                                  </label>
                                              </form>

                                              <form class="checkboxes cb">
                                                  <label class="row borderless">
                                                      <input type="checkbox" id="sacrum">
                                                      <span>Progress wound toward closure by secondary intention</span>
                                                  </label>
                                              </form>

                                              <form class="checkboxes cb">
                                                  <label class="row borderless">
                                                      <input type="checkbox" id="sacrum">
                                                      <span>Prepare wound for skin graft or flap</span>
                                                  </label>
                                              </form>

                                              <form class="checkboxes cb">
                                                  <label class="row borderless">
                                                      <input type="checkbox" id="sacrum">
                                                      <span>Other</span>
                                                  </label>
                                              </form>
                                          </div>

                                          <div class="row justify-content-start sp" style="height: 5%;">
                                                <b>Treatment Evaluation of Effectiveness (document treatments on Wound Care Treatment Record):</b>
                                                ____________________________________________________________________________________________________________________________________________________<br>
                                                ____________________________________________________________________________________________________________________________________________________<br>
                                                ____________________________________________________________________________________________________________________________________________________<br>
                                                ____________________________________________________________________________________________________________________________________________________<br>
                                          </div>

                                          <div class="row justify-content-start nb sp" style="height: 5%;">
                                                <div class="col-8 nb">
                                                    <b>Printed Name/Signature & Title:</b>
                                                </div>

                                                <div class="col nb">
                                                    <b>Time:</b>
                                                </div>

                                                <div class="col nb">
                                                    <b>Date:</b>
                                                </div>
                                          </div>
                                    </div>
                              </div>

                              <div class="row justify-content-start bor">
                                    <div class="col nb" style="height: 5%;">
                                          <div class="row justify-content-start sp">
                                              <div class="col-2 nb">
                                                  <b>Week_</b>
                                              </div>

                                              <div class="col nb" style="height: 5%">
                                                  <b>Treatment Goal at Evaluation:</b>
                                              </div>
                                          </div>


                                          <div class="row justify-content-start nb sp" style="height: 5%;">
                                              <form class="checkboxes cb">
                                                  <label class="row borderless">
                                                      <input type="checkbox" id="sacrum">
                                                      <span>Maintain wound status while addressing primary co-morbides</span>
                                                  </label>
                                              </form>

                                              <form class="checkboxes cb">
                                                  <label class="row borderless">
                                                      <input type="checkbox" id="sacrum">
                                                      <span>Progress wound toward closure by secondary intention</span>
                                                  </label>
                                              </form>

                                              <form class="checkboxes cb">
                                                  <label class="row borderless">
                                                      <input type="checkbox" id="sacrum">
                                                      <span>Prepare wound for skin graft or flap</span>
                                                  </label>
                                              </form>

                                              <form class="checkboxes cb">
                                                  <label class="row borderless">
                                                      <input type="checkbox" id="sacrum">
                                                      <span>Other</span>
                                                  </label>
                                              </form>
                                          </div>

                                          <div class="row justify-content-start sp" style="height: 5%;">
                                                <b>Treatment Evaluation of Effectiveness (document treatments on Wound Care Treatment Record):</b>
                                                ____________________________________________________________________________________________________________________________________________________<br>
                                                ____________________________________________________________________________________________________________________________________________________<br>
                                                ____________________________________________________________________________________________________________________________________________________<br>
                                                ____________________________________________________________________________________________________________________________________________________<br>
                                          </div>

                                          <div class="row justify-content-start nb sp" style="height: 5%;">
                                                <div class="col-8 nb" style="height:100%">
                                                    <b>Printed Name/Signature & Title:</b>
                                                </div>

                                                <div class="col nb" style="height:100%">
                                                    <b>Time:</b>
                                                </div>

                                                <div class="col nb" style="height:100%">
                                                    <b>Date:</b>
                                                </div>
                                          </div>
                                    </div>
                              </div>

                              <div class="row justify-content-start bor">
                                    <div class="col nb" style="height: 5%;">
                                          <div class="row justify-content-start sp">
                                              <div class="col-2 nb">
                                                  <b>Week_</b>
                                              </div>

                                              <div class="col nb" style="height: 5%">
                                                  <b>Treatment Goal at Evaluation:</b>
                                              </div>
                                          </div>


                                          <div class="row justify-content-start nb sp" style="height: 5%;">
                                              <form class="checkboxes cb">
                                                  <label class="row borderless">
                                                      <input type="checkbox" id="sacrum">
                                                      <span>Maintain wound status while addressing primary co-morbides</span>
                                                  </label>
                                              </form>

                                              <form class="checkboxes cb">
                                                  <label class="row borderless">
                                                      <input type="checkbox" id="sacrum">
                                                      <span>Progress wound toward closure by secondary intention</span>
                                                  </label>
                                              </form>

                                              <form class="checkboxes cb">
                                                  <label class="row borderless">
                                                      <input type="checkbox" id="sacrum">
                                                      <span>Prepare wound for skin graft or flap</span>
                                                  </label>
                                              </form>

                                              <form class="checkboxes cb">
                                                  <label class="row borderless">
                                                      <input type="checkbox" id="sacrum">
                                                      <span>Other</span>
                                                  </label>
                                              </form>
                                          </div>

                                          <div class="row justify-content-start sp" style="height: 5%;">
                                                <b>Treatment Evaluation of Effectiveness (document treatments on Wound Care Treatment Record):</b>
                                                ____________________________________________________________________________________________________________________________________________________<br>
                                                ____________________________________________________________________________________________________________________________________________________<br>
                                                ____________________________________________________________________________________________________________________________________________________<br>
                                                ____________________________________________________________________________________________________________________________________________________<br>
                                          </div>

                                          <div class="row justify-content-start nb sp" style="height: 5%;">
                                                <div class="col-8 nb" style="height:100%">
                                                    <b>Printed Name/Signature & Title:</b>
                                                </div>

                                                <div class="col nb" style="height:100%">
                                                    <b>Time:</b>
                                                </div>

                                                <div class="col nb" style="height:100%">
                                                    <b>Date:</b>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>

            <script src=" {{ url_for('static', filename='js/ajax.js') }}"></script>
      </body>
</html>
